.login-page__content-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    color: #4A4A4A;
}

.auth-form-wrapper {
    width: 500px;
}

.auth-form__error-container {
    color: red;
    text-align: center;
    height: 25px;
    font-weight: bold;
}
