.sidebar__links-container {
    display: flex;
    flex-direction: column;
}

.sidebar__page-link {
    color: black;
    font-size: 16px;
    text-decoration: none;
}

.sidebar__page-link-text {
    margin-left: 22px;
}

.sidebar__page-link:active,
.sidebar__page-link:hover,
.sidebar__page-link:visited {
    text-decoration: none;
}

.sidebar__page-link--active {
    background-color: #89B0AE;
    text-decoration: none;
    transition: 350ms;
}

.sidebar__logout-container {
    height: 80px;
    cursor: pointer;
}
